.tree-ul {
  padding: 8px;
  padding-bottom: 0;
  padding-top: 0;
  margin-left: 2px;
}

.tree-li-file {
  color: cadetblue;
  list-style-type: none;
  margin-left: 5px;
}

.tree-li-directory {
  color: darkcyan;
  list-style-type: none;
}

.span-li {
  padding-right: 2px;
}

button {
  background: none!important;
  border: none;
  padding: auto;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  cursor: pointer;
}