mpdserver.host: localhost
mpdserver.port: 6600
mpdserver.password: 12345678
mpdserver.pingInterval: 15000
mpdserver.streamUrl: http://localhost:8000/mpd.mp3

searchEngine.Url: http://localhost:9090/search

